:root {
  --gray-hue-oklch: 0;
  --gray-50: oklch(0.985 0 0);
  --gray-100: oklch(0.962 0 0);
  --gray-150: oklch(0.95 0.0 0);
  --gray-200: oklch(0.931 0 0);
  --gray-250: oklch(0.91 0.0 0);
  --gray-300: oklch(0.885 0 0);
  --gray-350: oklch(0.85 0.0 0);
  --gray-400: oklch(0.821 0 0);
  --gray-450: oklch(0.78 0.0 0);
  --gray-500: oklch(0.749 0 0);
  --gray-550: oklch(0.7 0.0 0);
  --gray-600: oklch(0.658 0 0);
  --gray-650: oklch(0.6 0.0 0);
  --gray-700: oklch(0.546 0 0);
  --gray-750: oklch(0.47 0.0 0);
  --gray-800: oklch(0.399 0 0);
  --gray-850: oklch(0.35 0.0 0);
  --gray-900: oklch(0.301 0 0);
  --gray-950: oklch(0.25 0.0 0);
  --gray-1000: oklch(0.193 0 0);
  --neutral-hue-oklch: 0;
  --neutral-50: var(--gray-50);
  --neutral-100: var(--gray-100);
  --neutral-150: var(--gray-150);
  --neutral-200: var(--gray-200);
  --neutral-250: var(--gray-250);
  --neutral-300: var(--gray-300);
  --neutral-350: var(--gray-350);
  --neutral-400: var(--gray-400);
  --neutral-450: var(--gray-450);
  --neutral-500: var(--gray-500);
  --neutral-550: var(--gray-550);
  --neutral-600: var(--gray-600);
  --neutral-650: var(--gray-650);
  --neutral-700: var(--gray-700);
  --neutral-750: var(--gray-750);
  --neutral-800: var(--gray-800);
  --neutral-850: var(--gray-850);
  --neutral-900: var(--gray-900);
  --neutral-950: var(--gray-950);
  --neutral-1000: var(--gray-1000);
  --purple-hue-oklch: 304.9;
  --purple-50: oklch(0.975 0.022 304.9);
  --purple-100: oklch(0.932 0.047 304.9);
  --purple-150: oklch(0.89 0.07 304.9);
  --purple-200: oklch(0.844 0.102 304.9);
  --purple-250: oklch(0.8 0.13 304.9);
  --purple-300: oklch(0.758 0.158 304.9);
  --purple-350: oklch(0.72 0.19 304.9);
  --purple-400: oklch(0.679 0.212 304.9);
  --purple-450: oklch(0.63 0.24 304.9);
  --purple-500: oklch(0.589 0.269 304.9);
  --purple-550: oklch(0.55 0.26 304.9);
  --purple-600: oklch(0.505 0.26 304.9);
  --purple-650: oklch(0.48 0.24 304.9);
  --purple-700: oklch(0.447 0.228 304.9);
  --purple-750: oklch(0.41 0.21 304.9);
  --purple-800: oklch(0.38 0.19 304.9);
  --purple-850: oklch(0.34 0.17 304.9);
  --purple-900: oklch(0.302 0.151 304.9);
  --purple-950: oklch(0.25 0.13 304.9);
  --purple-1000: oklch(0.193 0.101 304.9);
  --blue-hue-oklch: 262.7;
  --blue-50: oklch(0.979 0.01 262.7);
  --blue-100: oklch(0.948 0.024 262.7);
  --blue-150: oklch(0.91 0.04 262.7);
  --blue-200: oklch(0.877 0.057 262.7);
  --blue-250: oklch(0.84 0.08 262.7);
  --blue-300: oklch(0.797 0.094 262.7);
  --blue-350: oklch(0.75 0.12 262.7);
  --blue-400: oklch(0.702 0.136 262.7);
  --blue-450: oklch(0.65 0.16 262.7);
  --blue-500: oklch(0.601 0.189 262.7);
  --blue-550: oklch(0.56 0.2 262.7);
  --blue-600: oklch(0.521 0.213 262.7);
  --blue-650: oklch(0.48 0.2 262.7);
  --blue-700: oklch(0.439 0.185 262.7);
  --blue-750: oklch(0.4 0.17 262.7);
  --blue-800: oklch(0.37 0.159 262.7);
  --blue-850: oklch(0.34 0.15 262.7);
  --blue-900: oklch(0.301 0.131 262.7);
  --blue-950: oklch(0.25 0.1 262.7);
  --blue-1000: oklch(0.198 0.078 262.7);
  --accent-hue-oklch: 262.7;
  --accent-50: var(--blue-50);
  --accent-100: var(--blue-100);
  --accent-150: var(--blue-150);
  --accent-200: var(--blue-200);
  --accent-250: var(--blue-250);
  --accent-300: var(--blue-300);
  --accent-350: var(--blue-350);
  --accent-400: var(--blue-400);
  --accent-450: var(--blue-450);
  --accent-500: var(--blue-500);
  --accent-550: var(--blue-550);
  --accent-600: var(--blue-600);
  --accent-650: var(--blue-650);
  --accent-700: var(--blue-700);
  --accent-750: var(--blue-750);
  --accent-800: var(--blue-800);
  --accent-850: var(--blue-850);
  --accent-900: var(--blue-900);
  --accent-950: var(--blue-950);
  --accent-1000: var(--blue-1000);
  --green-hue-oklch: 155.5;
  --green-50: oklch(0.986 0.018 155.5);
  --green-100: oklch(0.966 0.039 155.5);
  --green-150: oklch(0.94 0.06 155.5);
  --green-200: oklch(0.905 0.09 155.5);
  --green-250: oklch(0.87 0.12 155.5);
  --green-300: oklch(0.831 0.147 155.5);
  --green-350: oklch(0.79 0.17 155.5);
  --green-400: oklch(0.756 0.189 155.5);
  --green-450: oklch(0.71 0.18 155.5);
  --green-500: oklch(0.657 0.177 155.5);
  --green-550: oklch(0.62 0.17 155.5);
  --green-600: oklch(0.589 0.158 155.5);
  --green-650: oklch(0.55 0.15 155.5);
  --green-700: oklch(0.506 0.136 155.5);
  --green-750: oklch(0.47 0.13 155.5);
  --green-800: oklch(0.431 0.115 155.5);
  --green-850: oklch(0.39 0.1 155.5);
  --green-900: oklch(0.35 0.091 155.5);
  --green-950: oklch(0.32 0.08 155.5);
  --green-1000: oklch(0.282 0.071 155.5);
  --positive-hue-oklch: 155.5;
  --positive-50: var(--green-50);
  --positive-100: var(--green-100);
  --positive-150: var(--green-150);
  --positive-200: var(--green-200);
  --positive-250: var(--green-250);
  --positive-300: var(--green-300);
  --positive-350: var(--green-350);
  --positive-400: var(--green-400);
  --positive-450: var(--green-450);
  --positive-500: var(--green-500);
  --positive-550: var(--green-550);
  --positive-600: var(--green-600);
  --positive-650: var(--green-650);
  --positive-700: var(--green-700);
  --positive-750: var(--green-750);
  --positive-800: var(--green-800);
  --positive-850: var(--green-850);
  --positive-900: var(--green-900);
  --positive-950: var(--green-950);
  --positive-1000: var(--green-1000);
  --lime-hue-oklch: 129.5;
  --lime-50: oklch(0.989 0.028 129.5);
  --lime-100: oklch(0.97 0.076 129.5);
  --lime-150: oklch(0.95 0.14 129.5);
  --lime-200: oklch(0.929 0.195 129.5);
  --lime-250: oklch(0.91 0.22 129.5);
  --lime-300: oklch(0.89 0.247 129.5);
  --lime-350: oklch(0.86 0.24 129.5);
  --lime-400: oklch(0.829 0.229 129.5);
  --lime-450: oklch(0.79 0.22 129.5);
  --lime-500: oklch(0.754 0.207 129.5);
  --lime-550: oklch(0.72 0.2 129.5);
  --lime-600: oklch(0.678 0.185 129.5);
  --lime-650: oklch(0.64 0.18 129.5);
  --lime-700: oklch(0.61 0.166 129.5);
  --lime-750: oklch(0.55 0.15 129.5);
  --lime-800: oklch(0.489 0.132 129.5);
  --lime-850: oklch(0.44 0.12 129.5);
  --lime-900: oklch(0.392 0.105 129.5);
  --lime-950: oklch(0.34 0.09 129.5);
  --lime-1000: oklch(0.293 0.078 129.5);
  --yellow-hue-oklch: 100;
  --yellow-50: oklch(0.991 0.031 100);
  --yellow-100: oklch(0.982 0.061 100);
  --yellow-150: oklch(0.97 0.1 100);
  --yellow-200: oklch(0.959 0.139 100);
  --yellow-250: oklch(0.94 0.17 100);
  --yellow-300: oklch(0.916 0.197 100);
  --yellow-350: oklch(0.89 0.19 100);
  --yellow-400: oklch(0.87 0.187 100);
  --yellow-450: oklch(0.84 0.18 100);
  --yellow-500: oklch(0.813 0.175 100);
  --yellow-550: oklch(0.77 0.16 100);
  --yellow-600: oklch(0.725 0.155 100);
  --yellow-650: oklch(0.68 0.14 100);
  --yellow-700: oklch(0.629 0.134 100);
  --yellow-750: oklch(0.57 0.12 100);
  --yellow-800: oklch(0.504 0.107 100);
  --yellow-850: oklch(0.46 0.1 100);
  --yellow-900: oklch(0.406 0.086 100);
  --yellow-950: oklch(0.36 0.08 100);
  --yellow-1000: oklch(0.319 0.067 100);
  --gold-hue-oklch: 82;
  --gold-50: oklch(0.984 0.02 82);
  --gold-100: oklch(0.968 0.04 82);
  --gold-150: oklch(0.95 0.07 82);
  --gold-200: oklch(0.926 0.092 82);
  --gold-250: oklch(0.9 0.12 82);
  --gold-300: oklch(0.881 0.142 82);
  --gold-350: oklch(0.86 0.16 82);
  --gold-400: oklch(0.829 0.168 82);
  --gold-450: oklch(0.8 0.16 82);
  --gold-500: oklch(0.761 0.156 82);
  --gold-550: oklch(0.72 0.15 82);
  --gold-600: oklch(0.675 0.138 82);
  --gold-650: oklch(0.64 0.13 82);
  --gold-700: oklch(0.596 0.122 82);
  --gold-750: oklch(0.54 0.11 82);
  --gold-800: oklch(0.485 0.099 82);
  --gold-850: oklch(0.43 0.09 82);
  --gold-900: oklch(0.383 0.078 82);
  --gold-950: oklch(0.34 0.07 82);
  --gold-1000: oklch(0.29 0.059 82);
  --warning-hue-oklch: 82;
  --warning-50: var(--gold-50);
  --warning-100: var(--gold-100);
  --warning-150: var(--gold-150);
  --warning-200: var(--gold-200);
  --warning-250: var(--gold-250);
  --warning-300: var(--gold-300);
  --warning-350: var(--gold-350);
  --warning-400: var(--gold-400);
  --warning-450: var(--gold-450);
  --warning-500: var(--gold-500);
  --warning-550: var(--gold-550);
  --warning-600: var(--gold-600);
  --warning-650: var(--gold-650);
  --warning-700: var(--gold-700);
  --warning-750: var(--gold-750);
  --warning-800: var(--gold-800);
  --warning-850: var(--gold-850);
  --warning-900: var(--gold-900);
  --warning-950: var(--gold-950);
  --warning-1000: var(--gold-1000);
  --orange-hue-oklch: 62.3;
  --orange-50: oklch(0.981 0.013 62.3);
  --orange-100: oklch(0.957 0.03 62.3);
  --orange-150: oklch(0.93 0.05 62.3);
  --orange-200: oklch(0.903 0.068 62.3);
  --orange-250: oklch(0.87 0.09 62.3);
  --orange-300: oklch(0.841 0.114 62.3);
  --orange-350: oklch(0.81 0.14 62.3);
  --orange-400: oklch(0.776 0.158 62.3);
  --orange-450: oklch(0.74 0.17 62.3);
  --orange-500: oklch(0.71 0.174 62.3);
  --orange-550: oklch(0.67 0.16 62.3);
  --orange-600: oklch(0.632 0.154 62.3);
  --orange-650: oklch(0.6 0.15 62.3);
  --orange-700: oklch(0.564 0.136 62.3);
  --orange-750: oklch(0.52 0.12 62.3);
  --orange-800: oklch(0.469 0.112 62.3);
  --orange-850: oklch(0.41 0.1 62.3);
  --orange-900: oklch(0.355 0.082 62.3);
  --orange-950: oklch(0.31 0.07 62.3);
  --orange-1000: oklch(0.261 0.058 62.3);
  --red-hue-oklch: 27;
  --red-50: oklch(0.978 0.011 27);
  --red-100: oklch(0.944 0.028 27);
  --red-150: oklch(0.91 0.05 27);
  --red-200: oklch(0.87 0.067 27);
  --red-250: oklch(0.82 0.09 27);
  --red-300: oklch(0.775 0.118 27);
  --red-350: oklch(0.72 0.15 27);
  --red-400: oklch(0.668 0.173 27);
  --red-450: oklch(0.63 0.2 27);
  --red-500: oklch(0.587 0.22 27);
  --red-550: oklch(0.56 0.21 27);
  --red-600: oklch(0.529 0.195 27);
  --red-650: oklch(0.5 0.19 27);
  --red-700: oklch(0.465 0.179 27);
  --red-750: oklch(0.43 0.17 27);
  --red-800: oklch(0.395 0.158 27);
  --red-850: oklch(0.36 0.14 27);
  --red-900: oklch(0.321 0.131 27);
  --red-950: oklch(0.27 0.11 27);
  --red-1000: oklch(0.215 0.087 27);
  --negative-hue-oklch: 27;
  --negative-50: var(--red-50);
  --negative-100: var(--red-100);
  --negative-150: var(--red-150);
  --negative-200: var(--red-200);
  --negative-250: var(--red-250);
  --negative-300: var(--red-300);
  --negative-350: var(--red-350);
  --negative-400: var(--red-400);
  --negative-450: var(--red-450);
  --negative-500: var(--red-500);
  --negative-550: var(--red-550);
  --negative-600: var(--red-600);
  --negative-650: var(--red-650);
  --negative-700: var(--red-700);
  --negative-750: var(--red-750);
  --negative-800: var(--red-800);
  --negative-850: var(--red-850);
  --negative-900: var(--red-900);
  --negative-950: var(--red-950);
  --negative-1000: var(--red-1000);
  --magenta-hue-oklch: 347.6;
  --magenta-50: oklch(0.979 0.013 347.6);
  --magenta-100: oklch(0.953 0.031 347.6);
  --magenta-150: oklch(0.92 0.05 347.6);
  --magenta-200: oklch(0.885 0.076 347.6);
  --magenta-250: oklch(0.84 0.11 347.6);
  --magenta-300: oklch(0.799 0.137 347.6);
  --magenta-350: oklch(0.76 0.17 347.6);
  --magenta-400: oklch(0.713 0.198 347.6);
  --magenta-450: oklch(0.67 0.22 347.6);
  --magenta-500: oklch(0.622 0.248 347.6);
  --magenta-550: oklch(0.6 0.24 347.6);
  --magenta-600: oklch(0.571 0.228 347.6);
  --magenta-650: oklch(0.54 0.22 347.6);
  --magenta-700: oklch(0.508 0.204 347.6);
  --magenta-750: oklch(0.47 0.19 347.6);
  --magenta-800: oklch(0.432 0.173 347.6);
  --magenta-850: oklch(0.39 0.16 347.6);
  --magenta-900: oklch(0.342 0.139 347.6);
  --magenta-950: oklch(0.28 0.12 347.6);
  --magenta-1000: oklch(0.225 0.094 347.6);
  --brown-hue-oklch: 46.1;
  --brown-50: oklch(0.977 0.005 46.1);
  --brown-100: oklch(0.945 0.011 46.1);
  --brown-150: oklch(0.92 0.02 46.1);
  --brown-200: oklch(0.898 0.02 46.1);
  --brown-250: oklch(0.86 0.03 46.1);
  --brown-300: oklch(0.826 0.032 46.1);
  --brown-350: oklch(0.79 0.04 46.1);
  --brown-400: oklch(0.746 0.044 46.1);
  --brown-450: oklch(0.71 0.05 46.1);
  --brown-500: oklch(0.672 0.054 46.1);
  --brown-550: oklch(0.64 0.06 46.1);
  --brown-600: oklch(0.598 0.073 46.1);
  --brown-650: oklch(0.56 0.07 46.1);
  --brown-700: oklch(0.529 0.07 46.1);
  --brown-750: oklch(0.49 0.07 46.1);
  --brown-800: oklch(0.448 0.063 46.1);
  --brown-850: oklch(0.41 0.06 46.1);
  --brown-900: oklch(0.362 0.051 46.1);
  --brown-950: oklch(0.29 0.04 46.1);
  --brown-1000: oklch(0.227 0.028 46.1);
}
