;; shadow-cljs configuration
{:deps
 {:aliases [:local-dev]}

 :dev-http
 {5001 "public"}

 :builds
 {:app
  {:devtools         {:log             false
                      :reload-strategy :full
                      :watch-dir       "public"}
   :target           :browser
   :compiler-options {:output-feature-set :es8
                      :warnings           {:redef false}}
   :modules          {:main {:init-fn mvp.browser/init}}
   :output-dir       "public/js"
   :build-hooks      [(kushi.css.build.analyze/hook)
                      ;; (shadow.build/tap-hook)
                      (shadow.cljs.build-report/hook
                       {:output-to "tmp/report.html"})]
   }}}
