;; shadow-cljs configuration
{:source-paths
 ["src/main/example"
  "../../src/kushi"]

 :dependencies
 [[reagent "1.0.0"]
  [org.clojars.paintparty/kushi "1.0.0"] ; kushi dependency
  [binaryage/devtools "1.0.3"]]

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :build-hooks [(kushi.core/kushi-debug)
                 (kushi.stylesheet/create-css-file)] ; kushi build hooks
   :build-options  {:cache-level :off} ; Setting {:cache-level :off} is required for `release` builds with kushi. See readme for details & options.
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:main
    {:init-fn example.core/init}}}}}
