
html {
 /* --ia-element-stroke-width: 0px;
 --button-stroke-width: (var(--ia-element-stroke-width), 0px) */
 --semantic-element-outer-box-shadow-blur-length: 0px;
 --semantic-element-box-outer-box-shadow-strength: 30%;
 --semantic-element-outer-box-shadow-2-blur-length: 20px;
 --semantic-element-box-outer-box-shadow-2-strength: 00%;
 --debug-grid-size: 107px;
 --debug-grid-color: #eee;

 --new-purple-hue: 330;

 --new-green-hue: 145;
  
 --new-red-hue: 20;
 --red-lightness-shift: -7%;
  
 --new-yellow-hue: 94;
 --yellow-lightness-shift: 5%;
  
 --new-blue-hue: 265;
 --blue-c-shift: 0.08;
  
 --positive-hue: var(--new-green-hue);
 
 --negative-hue: var(--new-red-hue);
 --negative-lightness-shift: var(--red-lightness-shift);
 
 --warning-hue: var(--new-yellow-hue);
 --warning-lightness-shift: var(--yellow-lightness-shift);
 
 --accent-hue: var(--new-blue-hue);
 --neutral-hue: var(--new-blue-hue);

 --accent-c-shift: -0.08;

 --button-padding-inline-compact: 0.8em; 
 --button-padding-inline: 1.2em;
 --button-padding-inline-roomy: 1.5em;
 --button-padding-block-compact: 0.42em; 
 --button-padding-block: 0.67em;
 --button-padding-block-roomy: 0.8666em;

}

/* Next step with color:

- Write out nested syntax for legacy
- Figure out lightning, for syntax-lowering
- Write new-fangled, using same selectors
- Figure out @supports for using one or the other

*/


/* not supports color-mix with oklch START */
/*
._kushi_neutral_soft_ia, ._kushi_neutral_soft {
  color: var(--neutral-900);
  background-color: var(--neutral-100);
  .dark & {
    color: var(--neutral-50);
    background-color: var(--neutral-850);
  }
}

._kushi_neutral_soft_ia {
  &:hover {
    color: var(--neutral-900);
    background-color: var(--neutral-150);
  }
  &:active {
    color: var(--neutral-900);
    background-color: var(--neutral-200);
  }
  .dark & {
    &:hover {
      color: var(--neutral-50);
      background-color: var(--neutral-800);
    }
    &:active {
      color: white;
      background-color: var(--neutral-800);
    }
  }
}

._kushi_accent_soft_ia, ._kushi_accent_soft {
  color: var(--accent-700);
  background-color: var(--accent-100);
  .dark & {
    color: var(--accent-100);
    background-color: var(--accent-750);
  }
}

._kushi_accent_soft_ia {
  &:hover {
    color: var(--accent-800);
    background-color: var(--accent-150);
  }
  &:active {
    color: var(--accent-900);
    background-color: var(--accent-200);
  }
  .dark & {
    &:hover {
      color: var(--accent-50);
      background-color: var(--accent-650);
    }
    &:active {
      color: white;
      background-color: var(--accent-600);
    }
  }
}
*/
/* not supports color-mix with oklch END */


/* supports color-mix with oklch */


[data-kui-colorway="accent"] {
  --_hue: var(--accent-hue);
}

[data-kui-colorway="positive"] {
  --_hue: var(--positive-hue);
}

[data-kui-colorway="negative"] {
  --_hue: var(--negative-hue);
}

[data-kui-colorway="warning"] {
  --_hue: var(--warning-hue);
}

/* change `-state*` to `-ia*` */

.kui-surface
 {
  --_bg-chroma: 0.0;
  --_fg-chroma: 0.0;
  --_color:

  oklch(
    calc(var(--_fg-lightness) + var(--_fg-lightness-shift, 0%) + var(--_fg-lightness-shift-state, 0%))
    calc(var(--_fg-chroma, 0) + var(--_fg-chroma-shift, 0) + var(--_fg-chroma-shift-state, 0))
    var(--_hue, 0)
  );
  color: var(--_color);

  --_background-color:
  oklch(
    calc(var(--_bg-lightness) + var(--_bg-lightness-shift, 0%) + var(--_bg-lightness-shift-state, 0%))
    calc(var(--_bg-chroma, 0) + var(--_bg-chroma-shift, 0) + var(--_bg-chroma-shift-state, 0))
    var(--_hue, 0) / var(--_bgc-alpha, 1)
  );

  background-color: var(--_background-color);

  --_stroke-args:
  0
  0
  0
  var(--stroke-width, 0px)
  var(--stroke-color, var(--_color));

  --_stroke: inset var(--_stroke-args);

  &[data-kui-stroke-align="outside"] {
    --_stroke: var(--_stroke-args);
  }

  box-shadow:
  /* This is the stroke, aka `decorative outline`, aka `border` */
  var(--_stroke),

  /* This is first shadow */
  4px
  4px
  var(--_box-shadow-blur-length, 0)
  0px 
  color-mix(in oklch, var(--_color) var(--_box-shadow-strength, 0%), transparent),

  /* This is second shadow */
  2px
  2px
  var(--_box-shadow-2-blur-length, 0)
  0px 
  color-mix(in oklch, var(--_color) var(--_box-shadow-2-strength, 0%), transparent);
}

[data-kui-ia] {
  &:hover {
    --_fg-lightness-shift-state: -13%;
    --_bg-lightness-shift-state: -3%;
  }
  &:active {
    --_fg-lightness-shift-state: -23%;
    --_bg-lightness-shift-state: -8%; 
  }
}

[data-kui-colorway][data-kui-ia] {
  &:hover {
    --_fg-chroma-shift-state: 0.06; 
    --_bg-chroma-shift-state: 0.03;
  }
  &:active {
    --_fg-chroma-shift-state: 0.13;
    --_bg-chroma-shift-state: 0.07; 
  }
}

/* SOFT */
[data-kui-surface="soft"] {
  --_bgc-alpha: 0.5;
  --_bg-lightness: 94%;
  --_fg-lightness: 44%;
  &[data-kui-colorway] {
    --_bg-chroma: 0.05;
    --_fg-chroma: 0.24;
  }
  &[data-kui-ia] {
    &:hover {
    }
    &:active {
    }
  }
}

/* SOLID */
[data-kui-surface="solid"]
 {
  color: white;
  --_bg-lightness: 53%;
  --_fg-lightness: 44%;
  &[data-kui-colorway] {
    --_bg-chroma: 0.27;
    --_fg-chroma: 0.24;
  }
  &[data-kui-ia] {
    &:hover {
      --_bg-lightness-shift-state: -5%;
    }
    &:active {
      --_bg-lightness-shift-state: -10%; 
    }
  }
}

/* OUTLINE */
[data-kui-surface="outline"]
{
  --_bgc-alpha: 0.5;
  --_bg-lightness: 94%;
  --_fg-lightness: 44%;
  --stroke-width: 1px;
  --stroke-align: "inside";
  --_bgc-alpha: 0;
  &[data-kui-colorway] {
    --_bg-chroma: 0.05;
    --_fg-chroma: 0.24;
  }
  &[data-kui-ia] {
    &:hover {
      --_bgc-alpha: 0.17;
    }
    &:active {
      --_bgc-alpha: 0.23;
    }
  }
}

/* MINIMAL */
[data-kui-surface="minimal"]
{
  --_bg-lightness: 94%;
  --_fg-lightness: 44%;
  --_bgc-alpha: 0.0;
  &[data-kui-colorway] {
    --_fg-chroma: 0.24;
    --_bg-chroma: 0.05;
  }
  &[data-kui-ia] {
    &:hover {
      --_bgc-alpha: 0.25;
    }
    &:active {
      --_bgc-alpha: 0.35;
    }
  }
}

/* SHAPE */
.kui-rounded {
  border-radius: 0.3em;
}

.kui-button {
  --_padding-inline: var(--button-padding-inline);
  --_padding-block: var(--button-padding-block);
  &[data-kui-packing="compact"] {
    --_padding-inline: var(--button-padding-inline-compact);
    --_padding-block: var(--button-padding-block-compact);
  }
  &[data-kui-packing="roomy"] {
    --_padding-inline: var(--button-padding-inline-roomy);
    --_padding-block: var(--button-padding-block-roomy);
  }
  &[data-kui-start-enhancer] {
    padding-inline-start: calc(var(--_padding-inline) * 0.7666);
  } 
  &[data-kui-end-enhancer] {
    padding-inline-end: calc(var(--_padding-inline) * 0.7666);
  } 
  &[data-kui-icon-button] {
    --_padding-inline: var(--_padding-block);
    & .material-symbols-outlined {
      min-width: 1.2ch;
      line-height: normal;
    }
  } 
}
