html {
  --scrollbar-background-color:  rgb(241, 241, 241);
  --scrollbar-thumb-color:  rgb(160, 160, 160);
}
.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-thumb-color);
  scrollbar-width: thin;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 6px; /* Mostly for vertical scrollbars */
  height: 6px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-thumb-color);
  border-radius: 9999px;
  border: 0px solid var(--scrollbar-background-color);
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background-color);
}

/* Focusing the button with a keyboard will show a dashed black line. */
*:focus-visible {
  outline: 4px solid rgba(0, 125, 250, 0.6);
  outline-offset: 1px;
}

.kushi-radio-input:focus-visible {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
}

/* Focusing the button with a mouse, touch, or stylus will show a subtle drop shadow. */
/* *:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
} */
