node_modules/
public/js
public/css
public/css/*
site/public/css/*
.public/css/*
.site/public/css/*

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.cpcache

.hgignore
.hg/

.clj-kondo/.cache/
.lsp
