{:paths   ["src/dev"
           "src/main"
           "src/test"]

 :deps    {
           binaryage/devtools                   {:mvn/version "1.0.6"}
           reagent/reagent                      {:mvn/version "1.1.1"}
           io.github.paintparty/bling           {:mvn/version "0.9.2"}
           ;; TODO - try stub fireworks here
           io.github.paintparty/fireworks-stubs {:mvn/version "0.12.6"}
           io.github.paintparty/fireworks       {:mvn/version "0.12.6"}
           design.kushi/kushi                   {:mvn/version "1.0.0-a.25"}
           metosin/malli                        {:mvn/version "0.19.1"}

           ;; TODO - should this go in kushi lib?
           babashka/process                     {:mvn/version "0.5.22"}
           }

 :aliases {:dev       {:extra-deps {thheller/shadow-cljs {:mvn/version "2.28.7"}
                                    borkdude/edamame     {:mvn/version "1.4.27"}}}

           ;; you can make local git clones, or use :git/url deps here
           :local-dev {:build-options {io.github.paintparty/fireworks io.github.paintparty/fireworks-stubs}
                       :override-deps {design.kushi/kushi             {:local/root "../"}
                                       design.kushi/domo             {:local/root "../../domo"}
                                       io.github.paintparty/bling     {:local/root "../../../cljc/bling"}
                                       io.github.paintparty/fireworks {:local/root "../../../cljc/fireworks"}
                                       io.github.paintparty/lasertag {:local/root "../../../cljc/lasertag"}
                                       }
                       :extra-deps    {thheller/shadow-cljs {:mvn/version "2.28.7"}
                                       ;; TODO does edamame this need to be in deps?
                                       borkdude/edamame     {:mvn/version "1.4.27"}}}
           }}
