{:paths
 ["src/dev"
  "src/main"
  "src/test"]

 :deps
 {reagent/reagent    {:mvn/version "1.1.1"}
  io.github.paintparty/bling {:mvn/version "0.4.2"}
  ;; TODO - try stub fireworks here
  io.github.paintparty/fireworks {:mvn/version "0.10.4"}
  design.kushi/kushi {:mvn/version "1.0.0-a.22"}
  babashka/process {:mvn/version "0.5.22"}}

 :aliases
 {:dev
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.28.7"}
    borkdude/edamame     {:mvn/version "1.4.27"}}}

  ;; you can make local git clones, or use :git/url deps here
  :local-dev
  {:override-deps {
                   io.github.paintparty/fireworks {:mvn/version "0.10.4"}
                  ;;  io.github.paintparty/fireworks {:local/root "../../cljc/fireworks"}
                  ;;  io.github.paintparty/bling {:local/root "../../cljc/bling"}
                   design.kushi/kushi {:local/root "../"}
                   }
   :extra-deps    {thheller/shadow-cljs {:mvn/version "2.28.7"}
                   ;; TODO does edamame this need to be in deps?
                   borkdude/edamame     {:mvn/version "1.4.27"}}}
  }}
