;; shadow-cljs configuration
{
 :source-paths   ["src"
                  "../src"
                  ;; "../../domo/src"
                  "../../../cljc/fireworks/src"
                  ]

 :dependencies   [[reagent/reagent    "1.1.1"]
                  [binaryage/devtools "1.0.6"]
                  [design.kushi/kushi "1.0.0-a.20"]
                  [io.github.paintparty/fireworks "0.2.0"]]

 :dev-http       {7777 "public"}

 :cache-blockers #{kushi.core kushi.stylesheet}

 :builds         {:demo {:devtools         {:log             false
                                            :reload-strategy :full
                                            :watch-dir       "public"}
                         :target           :browser
                         :compiler-options {:output-feature-set :es8
                                            :warnings           {:redef false}}
                         :build-options    {:cache-level :off}
                         :build-hooks      [(kushi.core/kushi-debug)
                                            (kushi.stylesheet/create-css-file)
                                            (shadow.cljs.build-report/hook
                                             {:output-to "tmp/report.html"})]
                         :modules          {:main {:init-fn site.browser/init}}}}}
